<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Home Page " />
	<meta name="author" content="Kamal AZZOUZI" />
	<title>error page</title>
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Error page</h1>
                   <cite> N'ayez pas peur de faire une erreur,MAis faites en sorte de ne pas faire la même erreur deux fois</cite>
                   <p><a href="/" th:href="@{/}">Back to home page</a></p>
            </div>
        </div>


    </div>


</body>
</html>