<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Home Page " />
	<meta name="author" content="Kamal AZZOUZI" />
	<title>admin</title>
</head>

	<body>
		<h1 style="color: blue">Hello! This is Admin Page!</h1>
	
		<a style="color: blue" th:href="@{/}">Go to Home Page</a>
	
		<br />
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>	

	</body>
</html>